@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: "Merriweather", serif;;
}
/* shared style */
.text-align{
  text-align: center;
}

/* bennar design */

.banner-container{
  /* border: 2px solid red; */

  width: 1320px;
  min-height: 600px;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  background-image: url('../images/Banner\ Image.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
   background-color: rgba(0,0,0,0.5);
  background-blend-mode: overlay;
}
.bennar-content{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 600px;
 

}
.bennar-title{
 color: rgb(255,255,255);
 font-size: 32px;
 margin-bottom: 20px;
 
}
.bennar-subtitle{
font-size: 72px;
font-weight: 900;
line-height: 95px;
color: white;
}